{% extends "base.html" %}
{% load static %}


{% block content %}

<main class="main">

  <div class="text-center p-4">
              <h1>Mis Niños</h1>

          </div>
          <div class="album py-5 bg-light">
                  <div class="container">
                    <div class="row">
          {% for nino in ninos_list %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm custom-card">
              <img class="bd-placeholder-img card-img-top"  style="height: 225px; width: 100%; display: block;" src="{{ nino.foto_perfil.url }}"  alt="">
                    <h2 class="m-3"> {{ nino.nombre }} {{ nino.apellido }} </h2>
                    <div class="card-body">
                          <p class="card-text">
                              {{ nino.fecha_de_nacimiento }}
                              {{ nino.lugar_de_nacimiento }}
                              {{ nino.documento_de_Identidad }}
                              {{ nino.servicio_de_salud }}
                              {{ nino.medico_asignado }}
                              </p>
                            </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a class="btn btn-sm btn-outline-secondary" href="{% url 'carnets:detail_nino' pk=nino.pk %}"><i class="icon-edit"></i> View</a>
                      <a class="btn btn-sm btn-outline-secondary" href="{% url 'carnets:detail_nino' pk=nino.pk %}"><i class="icon-edit"></i> Edit</a>

                    </div>
                  </div>
                </div>

              </div>





              {% empty %}
                  <li> Aún no hay ninos. </li>
              {% endfor %}


<a href="{% url 'carnets:crear_nino' %}">
   <button type="button" class="btn btn-success">Agregar nuevo niño</button>
</a>

</div>


</div>
</div>



{% endblock %}
