{% extends "base.html" %}
{% block content %}
<div class="form-index" >

    <div class="container">
      <div class="row">
        <div class="container mt-5">
          <div class="text-center p-4">
              <h2 class="display-4"> {{ nino.nombre }} {{ nino.apellido }} </h2>

          </div>
          <hr class="my-3">

          <br>
          {% if nino.foto_perfil %}
              <img class="img-fluid img-thumbnail" style="float:right; margin:20px; width:35%;"  src="{{ nino.foto_perfil.url }}"  alt="">
          {% endif %}
          <dl>
              <dt>Fecha de Nacimiento</dt>
              <dd><p</p> {{ nino.fecha_de_nacimiento }} </dd>

              <dt>Lugar de Nacimiento</dt>
              <dd><p> {{ nino.lugar_de_nacimiento }} </p></dd>

              <dt>Documento de Identidad</dt>
              <dd><p>{{ nino.documento_de_Identidad }}</p></dd>

              <dt>Servicio de Salud</dt>
              <dd><p>{{ nino.servicio_de_salud }}</p> </dd>

              <dt>Médico Asignado</dt>
                <dd><p>{{ nino.medico_asignado }}</p> </dd>

              <dt>Carnet</dt>
              <dd><p> {{ nino.carnet }}</p> </dd>
            </dl>

<br>
<br>

        </div>


        </div>



        <p>

  <a type="button" href="{% url 'carnets:nino_list' %}">
      <button type="button" class="btn btn-primary btn-lg"> Volver </button> </a>

  <a type="button" href="{% url 'carnets:control_list' %}">
      <button type="button" class="btn btn-default btn-lg"> Ver Controles Médicos </button> </a>
</p>

        </div>





    </div>



  {% endblock %}
