{% extends "index.html" %}
{% block body %}
<h1> Ninos </h1>
<ul>
{% for nino in ninos_list %}

    <li>
      <ul>
      <img style='border-radius: 50%;' src="{{ nino.foto_perfil.url }}" width="300" height="300" class="d-inline-block align-top" alt="">
        <li>{{ nino.nombre }}</li>
        <li>{{ nino.apellido }}</li>
        <li>{{ nino.descripcion }}</li>
        <li>{{ nino.fecha_de_nacimiento }}</li>
        <li>{{ nino.lugar_de_nacimiento }}</li>
        <li>{{ nino.documento_de_Identidad }}</li>
        <li>{{ nino.servicio_de_salud }}</li>
        <li>{{ nino.carnet }}</li>
        <li>{{ nino.medico_asignado }}</li>
      </ul>
      <button class="btn btn-default">  <a class="btn" href="{% url 'carnets:detail_nino' pk=nino.pk %}"> Ver carnet Salud</a><i class="glyphicon glyphicon-pencil"></i></button>
    {#podria ser la detail view de control medico pero por ahora muestra nino#}
    </li>

{% empty %}
    <li> Aún no hay ninos. </li>
{% endfor %}
</ul>
<a href="{% url 'carnets:crear_nino' %}">
   <button type="button" class="btn btn-success">Agregar nuevo niño</button>
</a>
{% endblock %}
