{% extends "base.html" %}
{% load static %}
{% block content %}


        <main role="main">
          <div class="form-index" >
            <div class="container">

              <div class="text-center p-4">
                <h1> Controles médicos </h1>
                  <h2 class="mb-3">Información de los controles médicos</h2>
                </div>


            <a href="{% url 'carnets:crear_control_medico' %}">
               <button type="button" class="btn btn-default btn-lg"> <img src="{% static 'iconos/mas.png' %}" > Agregar nuevo control medico</button>
            </a>

            <hr>


                <div class="row">
                           <table  style="width: 100%;" class="table table-striped" >
                               <thead class="thead-dark">
                                 <tr>
                                  <th scope="col">Fecha</th>
                                  <th scope="col">Edad</th>
                                  <th scope="col">Talla</th>
                                  <th scope="col">Peso</th>
                                  <th scope="col">Presion Arterial </th>
                                  <th scope="col">Observaciones</th>
                                  <th scope="col"> Opciones </th>
                                 </tr>
                               </thead>
                               <tbody>
  {% for  control_medico in object_list %}

                                    <tr>
                                      <td scope="row" ><span> {{ control_medico.fecha_de_creacion }} </span></td>
                                      <td><span> {{ control_medico.edad }}</span></td>
                                      <td><span> {{ control_medico.talla }} </span></td>
                                      <td><span> {{ control_medico.peso }} </span></td>
                                      <td><span>{{ control_medico.presion_arterial }} </span></td>
                                      <td><span>{{ control_medico.observaciones }} </span></td>
                                      <td><span>
                                      <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'carnets:detail_Control_medico' pk=control_medico.pk %}"><i class="icon-edit"></i> <img src="{% static 'iconos/ojo.png' %}"> </a>
                                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'carnets:detail_Control_medico' pk=control_medico.pk  %}"><i class="icon-edit"></i> <img src="{% static 'iconos/editar.png' %}"> </a>
                                      </div>
                                      </span></td>
                                     </tr>
{% empty %}
  <tr><td scope="row"><span> No hay controles médicos </span></td></tr>
{% endfor %}


                                </tbody>
                                </table>
                                </div>






                    <a type="button" href="{% url 'carnets:nino_list' pk=user.usuario.pk%}">
                        <button type="button" class="btn btn-primary btn-lg"> Volver </button>
                      </a>

      </div>


{% endblock %}
