{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="form-index" url-endpoint="">
  <main role="main">
    <div class="container">
      <div class="">
        <div class="container mt-5 row">
          <div class="text-center p-4">
            <h2 class="display-4"> Detalles del control médico </h2>
          </div>
          <hr class="my-4">
          <br>
          <div class="col-8">

          </div>
<div class="col-4" id="contenido-controlmedico" >
    <dl>
            <h3 class="display-5">Fecha: {{ control_medico.fecha_de_creacion}}</h3>
            <br>
            <br>
            <dt class="titulomagui">Edad</dt>
            <dd>
              <p class="textmagui"></p> {{ control_medico.edad }} años
            </dd>
            <dt class="titulomagui">Tallas</dt>
            <dd>
              <p class="textmagui"></p> {{ control_medico.talla }} cms.
            </dd>
            <dt class="titulomagui">Peso</dt>
            <dd>
              <p class="textmagui"></p> {{ control_medico.peso }} kgs.
            </dd>
            <dt class="titulomagui">Pd</dt>
            <dd>
              <p class="textmagui"></p> {{ control_medico.pd }} cms.
            </dd>
            <dt class="titulomagui">Alimentación</dt>
            <dd>
              <p class="textmagui"></p> {{ control_medico.alimentacion }}
            </dd>
            <dt class="titulomagui">Hierro</dt>
            <dd>
              <p class="textmagui"></p> {{ control_medico.hierro }}
            </dd>
            <dt class="titulomagui">Vitamina D</dt>
            <dd>
              <p class="textmagui"></p> {{ control_medico.vit_D }}
            </dd>
            <dt class="titulomagui">Observaciones </dt>
            <dd>
              <p class="textmagui"></p> {{ control_medico.observaciones }}
            </dd>
            <dt class="titulomagui">Próximo control</dt>
            <dd>
              <p class="textmagui"></p> {{ control_medico.proximo_control }}
            </dd>
          </dl>
</div>
        </div>

      

    <a href="{% url 'carnets:control_list' pk=nino.pk %}">
      <button type="button" class="btn btn-default btn-lg">Ver lista de controles</button>
    </a>
</div>




{% endblock %}
