{% extends "base.html" %}
{% block content %}
<div class="form-index" >
        <main role="main">

    <h1> Control medico </h1>
    {{ control_medico.edad }}
    {{ control_medico.peso }}
    {{ control_medico.talla }}
    {{ control_medico.pd }}
    {{ control_medico.alimentacion }}
    {{ control_medico.hierro }}
    {{ control_medico.vit_D }}
    {{ control_medico.observaciones }}
    {{ control_medico.presion_arterial }}
    {{ control_medico.proximo_control }}

    <a href="{% url 'carnets:control_list' 2%}">
       <button type="button" class="btn btn-default btn-lg">Ver lista de controles</button>
    </a>
</div>




{% endblock %}
