{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- The navBar  Doctor-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'index' %}">
    <img src="{% static 'img/transparent.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
    Dcarnet App
  </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Familiares</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pacientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Controles</a>
      </li>
      {% if user.is_authenticated %}

          <li>
            <!-- Log out -->
            <a href="{% url 'autenticacion:user_logout' %}">Salir</a>
          </li>

       {% else %}
          <li>
            <!-- Log in -->
            <a class='nav navbar-right' href="{% url 'autenticacion:user_login' %}">
              <span class="glyphicon glyphicon-user"></span> Iniciar Sesion
            </a>
          </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>


</nav>
  {% block cuerpo %}
    <h1>DCARNET</h1>
    {% if user.usuario.tipo_usuario == "b" %}
      <h2>Bienvenido a DCARNET Doctor {{ user.username }}!</h2>
      <h2>tipo usuario: {{  user.usuario.tipo_usuario }}</h2>
        <!-- Log in -->
    {% else %}
      {% if user.usuario.tipo_usuario == "a" %}
        <!-- Log in -->
        <h2>Bienvenido a DCARNET Familiar {{ user.username }}!</h2>
        <h2>tipo usuario: {{  user.usuario.usuario.tipo_usuario }}</h2>
      {% else %}
      <!-- Log in -->
      <h2>Bienvenido a DCARNET Anonimo {{ user.username }}!</h2>
      <h2>tipo usuario: {{  user.usuario.usuario.tipo_usuario }}</h2>
      {% endif %}
    {% endif %}
  {% endblock %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
