{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="jumbotron">

    {% if user.is_authenticated %}


    <nav class="navbar navbar-default techfont custom-navbar">
      <div class="container">

        <ul class="nav navbar-nav">
          <li><a class='navbar-brand bigbrand' href="{% url 'index' %}">Dcarnet App</a></li>
          <li><a href="https://www.github.com">Familiar</a></li>
          <li><a href="https://www.linkedin.com">LinkedIn</a></li>



        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li>
            <!-- Log out -->
            <a href="{% url 'autenticacion:user_logout' %}">Salir</a>
          </li>
          {% else %}
          <li>
            <!-- Log in -->
            <a class='nav navbar-right' href="{% url 'autenticacion:user_login' %}">
              <span class="glyphicon glyphicon-user"></span> Iniciar Sesion
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    {% block cuerpo %}
    <h1>DCARNET</h1>

    {% if user.tipo_usuario == "Doctor" %}
    <h2>Bienvenido a DCARNET Doctor {{ user.username }}!</h2>
    {% else %}
    <h2>Bienvenido a DCARNET Familiar {{ user.username }}!</h2>
    {% endif %}
    {% endblock %}



    {% else %}
    <h2>Bienvenido a DCARNET inice sesion
      <a href="{% url 'autenticacion:user_login' %}">
        aqui
      </a> para continuar
    </h2>
    {% endif %}
  </div>
</div>

{% endblock %}
