{% extends 'base.html' %}

{% load static %}

{% block content %}

    {% csrf_token %}
    <div class="login-page">
  <div class="form">
    <img src="{% static 'img/transparent.png' %}" alt="logo" style="width: 50%">
    <br>
    <br>
    <form class="login-form"  action="{% url 'index' %}">
      <input type="text" name="username" placeholder="username"/>
      <input type="password" placeholder="password" name="password"/>

      <input type="submit" name="" value="Login" class="submit"/>
    </form>


    <p class="message">Not registered? <a href="{% url 'autenticacion:register'%}">Create an account</a></p>
  </div>
</div>

{% endblock %}
