{% extends "base.html" %}
{% load static %}

{% block content %}
<div >
  <div >
    {% if registered %}
    <h1>Gracias por registrarse!!</h1>
    {% else %}
    <div class="login-page">
      <h1>Registrese Aquí</h1>
      <div class="form">
        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}


          {{ profile_form.as_p }}
          <input type="submit" name="" value="Register" class="button">
        </form>

        {% endif %}

      </div>
    </div>
  </div>
</div>

{% endblock %}
