{% extends 'index.html' %}
{% load static %}

{% block body %}
<div >
  <div >
    {% if registered %}
    <h1>Gracias por registrarse!!</h1>
    {% else %}
    <div class="login-page">
      <div class="form">
        <h1>Registrese Aquí</h1>
        <form enctype="multipart/form-data" method="POST">

          {% csrf_token %}
          {{ user_form.as_p }}
          {{ profile_form.as_p }}
          <input type="submit" name="" value="Registrarse" class="button">
        </form>

        {% endif %}

      </div>
    </div>
  </div>
</div>

{% endblock %}
